* {
  margin: 0;
  padding: 0;
  background-color: rgb(30,100,255);
  text-wrap: wrap;
  font-family: Arial, Verdana, Sans-Serif;
  transition: 0.8s;
}
body{
  background-image: var(--var-bg-greyblue);
  display: flex;
  flex-direction: column;
}
:root {
  --var-size-header: 190px;
  --var-shadow: rgba(0,0,0,0.4);
  --var-ice-blue: rgb(30, 80, 255);
  --var-h2: 1.8em;
  --var-p: 1.3em;
  --var-bottom-border:white 0.8em solid;
  --var-bg-greyblue: linear-gradient(to left, rgb(30,100,255), rgb(32,17,140));
}
h1,h2,p {
  font-size: 3.5em;
  padding: 2vmin;
  background-color: transparent;
  color: rgba(255,255,255,0.8);
}
.buy{
  height: auto;
  width: 80%;
  border-radius: 0.7em;
}
.gray{
  color: wheat;
  mix-blend-mode:color-dodge;
}
header {
  display: flex;
  background-image: url(./image/ice-winter-lake.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: var(--var-size-header);
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: var(--var-bottom-border);
  margin-bottom: 2.8em;
}
h2{
  font-size: var(--var-h2);
  text-align: center;
}
p{
  font-size: var(--var-p);
  display: block;
  text-align: center;
}
.Ice_text {
  background-color: var(--var-shadow);
  border-radius: 1.2em;
  text-shadow: 0.1em 0 var(--var-shadow);
}
.red{background-color:    rgb(230, 50, 55)}
.orange{background-color: rgb(250, 120, 95)}
.yellow{background-color: rgb(200, 200, 55)}
.green{background-color:  rgb(60, 200, 65)}
main {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: var(--var-bottom-border);
  padding-bottom: 2.8em;
  background-image: var(--var-bg-greyblue);
}

.table {
  margin-top: 8vw;
  display:flex;
  align-items: center;
  flex-direction: column;
  min-height: 30vmin;
  max-width: 90vw;
  background-image: url(./image/Snow.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  border-radius: 2em;
}

.start {
  align-self: flex-start;
  margin-left: 3vw;
}
.end{
  align-self: flex-end;
  margin-right: 3vw;
}
footer{
  color: var(--var-ice-blue)
}

@media (max-width: 768px) {
  :root {
    --var-size-header: 30vh;
  }
  header {
    padding: 2vh;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  :root {
    --var-size-header: 100vh;
    --var-h2: 5em;
    --var-p: 3.5em;
  }
  
  .Ice_text {
    font-size: 6em;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  :root {
    --var-size-header: 70vh;
    --var-h2: 5em;
    --var-p: 3.25em;
  }
  
  .Ice_text {
    font-size: 9em;
  }
}